@import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web&display=swap');
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Titillium Web', sans-serif;
}

* {
    box-sizing: border-box;
	user-select: none;
}

.damage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    box-shadow: inset 0px 0px 180px -55px rgba(247, 24, 24, 0.75);
}


.watermark {
    position: absolute;
    right: 1%;
    bottom: .4%;
    color: #fff;
    opacity: .7;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-flex;
}
.discord {
    position: absolute;
    right: 4.9%;
    height: 40px;
    bottom: .15%;
    color: rgb(255, 255, 255);
    opacity: .9;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-flex;
}

.watermark img {
    position: relative;
    top: -880px;
    height: 100px;
    width: 100px;
}

.info {
    display: inline-flex;
}

.hud {
    position: absolute;
    bottom: 30.5px;
    width: 181.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bars {
    width: 400px;
    height: 35px;
    margin-left: 2px;
    margin-top: -7px;
}

.bars .barra {
    position: relative;
    width: 100px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 30px;
    padding: 2.5px;
    display: inline-flex;
    margin-top: 35px;
}

.stamina {
    top: -5px;
    width: 150px !important;
}

.fill {
    min-width: 5%;
    height: 110%;
    border-radius: 50px;
    transition: all .5s;
}


.RBDVbars {
    width: 400px;
    height: 35px;
    margin-left: 2px;
    margin-top: -7px;
}

.RBDVbars .RBDVbarra {
    position: relative;
    width: 100px;
    height: 13px;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 30px;
    padding: 2.5px;
    display: inline-flex;
    margin-top: 24px;
}

.animM {
    animation: neon 3s alternate infinite ease-in-out;
    --cor: #ffffff5b
}

.animC {
    animation: neon 3s alternate infinite ease-in-out;
    --cor: #a7859a
}

.animF {
    animation: neon 3s alternate infinite ease-in-out;
    --cor: #736b36
}

.animS {
    animation: neon 3s alternate infinite ease-in-out;
    --cor: #778694
}

@keyframes neon {
    from {
        box-shadow: 0px 0px 7px 3px transparent;
    }
    to {
        box-shadow: 0px 0px 7px 3px var(--cor);
    }
}

@keyframes pulse {
    from {
        box-shadow: inset 0px 0px 32px 6px transparent;
    }
    to {
        box-shadow: inset 0px 0px 180px -55px rgba(247, 24, 24, 0.75);
    }
}
